@import './fonts.css';

.chess {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00bd7e;
    justify-content: center;
    align-items: center;
}

.boards-wr {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    margin-bottom: 0px;
}

.board {
    border-radius: 0px;
    width: 600px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);	
}

.a1 {
    width: 74px;
    height: 74px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.light-sqaure {
    background-color: #0fca8c;
}

.top-right-rad {
    border-top-right-radius: 5px;
}

.bottom-right-rad {
    border-bottom-right-radius: 5px;
}

.top-left-left-rad {
    border-top-left-radius: 5px;
}

.bottom-left-left-rad {
    border-bottom-left-radius: 5px;
}

.dark-square {
    background-color: #159b6e;
}